<div class="hero" style="background-image: url({{ .img }});">
    <div class="navigation">
        <div>
            <img class="navigation__logo" src="{{ .logo }}" alt="">
        </div>
        <img class="navigation__dehaze" src="/img/dehaze.png" alt=""/>
        <ul>
            {{ range .menu }}
            <li><a href="{{ .url }}">{{ .title }}</a></li>
            {{ end }}
        </ul>
    </div>
    <div class="wrapper">
        <h1 class="hero__text">{{ .title | markdownify }}</h1>
    </div>
    <div class="seta"></div>
</div>


