img {
    width: 100%;
}

li {
    a {
        @include btn-reset() {
            font-weight: $font-weight--bold;
            color: white;
        }
    }
}

.wrapper {
    // margin: 0px $padding;
    max-width: 1000px;
    @include breakpoint($bp-large-2) {
        margin: 0 auto;
        width: 90%;
    }
}

h2 {
    color: cores(primary);
    margin: 1em $padding 0;
    font-size: 32px;
    line-height: 1.2em;
}

p {
    margin: 1em $padding;
}

h3 {
    color: cores(primary);
    text-align: center;
    margin: 2em 0 0.5em;
}

h4 {
    margin: 0 $padding;
    font-size: 1.5em;
    font-weight: $font-weight--bold;
}
