* {
    // @extend .test--border;
}

html {
    // color: white;
    // background-color: black;
}

img {
    width: 100%;
}

li {
    a {
        @include btn-reset() {
            font-weight: $font-weight--bold;
            color: white;
        }
    }
}

.wrapper {
    // margin: 0px $padding;
    max-width: 1000px;
    @include breakpoint($bp-large-2) {
        margin: 0 auto;
        width: 90%;
    }
}

.menu {
    transition: right 0.2s ease-out;
    z-index: 1000000000;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 3em 0; 
    height: 100vh;
    width: 100vw;
    right: -100vw;
    background-color: cores(dark--primary);
    border-bottom: 10px solid cores(primary);
    color: white;
    align-items: center;
    @include m(active) {
        right: 0;
    }
    @include e(img) {
        align-self: flex-end;
        margin-right: $padding;
    }
    ul {
        margin-top: 3em;
        text-align: center;
        li {
            margin-top: 2em;
        }
    }
}

.hero {
    color: white;
    position: relative;
    padding: 10px $padding 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include e(text) {
        @include breakpoint($bp-small-3) {
            width: 70%;
            margin: 2em 0;
        }
        @include breakpoint($bp-med-2) {
            width: 50%;
            margin: 3em 0;
        }
        @include breakpoint($bp-xl-2) {
            width: 40%;
            margin: 3em 0;
        }
    }
}

.navigation {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    :first-child {
        margin-right: auto;
    }
    @include e(logo) {
        width: 100px;
    }
    @include e(dehaze) {
        width: 20px;
        @include breakpoint($bp-small-3) {
            display: none;
        }
    }
    ul {
        display: none;
        li {
            margin-left: $padding;
        }
        @include breakpoint($bp-small-3) {
            display: flex;
        }
    }
}

.seta {
    position: absolute;
    background-color: cores(primary);
    height: 50px;
    box-shadow: 0px 2px 2px 0px cores(dark--24),
                0px 0px 2px 0px cores(dark--12);
    width: 50px;
    border-radius: 100000px;
    bottom: -5px;
    right: calc(50% - 25px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30% 30%;
    background-image: url(/img/arrow.png);
}
.conceito {
    @extend .wrapper;
    align-items: center;
    @include breakpoint($bp-med) {
        display: flex;
        padding: 1em 0;
    }
    @include breakpoint($bp-med) {
        padding: 1em 0;
    }
}
.descricao {
    flex: 1;
    @include breakpoint($bp-med) {
        max-width: 50%;
    }
}

.burger {
    flex: 1;
    order: 2;
    width: calc(100vw - 90px);
    height: calc(100vw - 90px);
    max-width: 300px;
    max-height: 300px;
    margin: 30px auto 10px;
}

h2 {
    color: cores(primary);
    margin: 1em $padding 0;
    font-size: 32px;
    line-height: 1.2em;
}

p {
    margin: 1em $padding;
}

.alert {
    background-color: cores(base);
    margin: 1em $padding;
    padding: 1em 5px;
    font-size: 0.8em;
    border-radius:  5px;
    text-align: center;
}

.horizontal-line {
    margin: 1em $padding;
    border-bottom: 1px solid cores(dark--12);
}

.receita {
    @extend .wrapper;
    display: grid;
    @include breakpoint($bp-med) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint($bp-xl) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.ingrediente {
    position: relative;
    margin: 1em 50px;
    @include e(num) {
        position: absolute;
        font-size: 5em;
        font-weight: $font-weight--heavy;
        left: -32px;
        top: -16px;
        z-index: -1000px;
        color: cores(dark--12);
    }
    @include e(title) {
        color: cores(primary);
        font-size: 1.5em;
        font-weight: $font-weight--bold;
        margin-bottom: 0.5em;
    }
}

h3 {
    color: cores(primary);
    text-align: center;
    margin: 2em 0 0.5em;
}

.cardapio {
    position: relative;
    // padding:  10vw $padding 10px;
    overflow: visible;
    @include e(background) {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: cores(dark--6);
        width: 100vw;
        height: 100%;
    }
    @include e(wrapper) {
        padding:  50px $padding 20px;
        position: relative;
        z-index: 100;
        @extend .wrapper;
        max-width: 800px;
    }
}

.alimento {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 25px 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 0 10px 0 cores(dark--12);
    span {
        color:  cores(dark--disabled);
    }
    @include m(original) {
        @extend .alimento;
        border: 2px solid cores(primary);
    }
    @include e(title) {
        font-weight: $font-weight--bold;
        font-size: 1.1em;
    }
    @include e(price) {
        font-weight: $font-weight--bold;
        font-size: 1.1em;
        justify-self: end;
    }
    @include e(description) {
        grid-column: 1 / -1;
        font-size: 0.7em;
        font-weight: $font-weight--bold;
        color: cores(dark--24);
        text-transform: uppercase;
    }
    @include e(extra) {
        font-size: 0.7em;
        font-weight: $font-weight--bold;
        color: cores(dark--24);
        text-transform: uppercase;
    }
    @include e(single-price) {
        grid-column: 1 / -1;
        font-weight: $font-weight--bold;
        font-size: 1.1em;
        text-align: center;
    }
    @include e(group) {
        @include breakpoint($bp-med) {
            display: flex;;
            :first-child {
                margin-right: $padding;
            }
            div {
                flex: 1;
            }
        }
    }
}

.delivery {
    margin-bottom: 2em;
    @extend .wrapper;
    display: flex;
    justify-content: center;
    div {
        padding: 0 1em;
        max-width: 150px;
        flex: 1;
    }
}

h4 {
    margin: 0 $padding;
    font-size: 1.5em;
    font-weight: $font-weight--bold;
}

.gallery {
    position: relative;
    @include e(images) {
        border-bottom: 10px solid cores(primary);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        z-index: 100;
        @include pseudo(after, 100%, 100%) {
            background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0));
        }
        @include breakpoint($bp-med) {
            @include pseudo(after, 100%, 100%) {
                background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0));
            }
        }
        @include breakpoint($bp-small-2) {
            grid-template-columns: repeat(3, 1fr);
            :nth-child(1) {
                display: none;
            }
        }
        @include breakpoint($bp-med) {
            grid-template-columns: repeat(4, 1fr);
            :nth-child(2) {
                display: none;
            }
        }
        @include breakpoint($bp-xl) {
            grid-template-columns: repeat(5, 1fr);
            :nth-child(1) {
                display: block;
            }
            :nth-child(2) {
                display: block;
            }
        }
    }
    @include e(text) {
        z-index: 10000;
        position: absolute;
        color: white;
        max-width: 500px;
        padding-top: 3em;
        @include breakpoint($bp-small-2) {
            padding-top: 5em;
        }
        @include breakpoint(1000px) {
            // max-width: 1000px;
            left: calc((100vw - 1000px)/2);
        }
    }
    @include e(social) {
        display: flex;
        margin: $padding;
        @include breakpoint($bp-small-2) {
            margin: 2em $padding;
        }
        img {
            width: 24px;
            margin-right: $padding;
        }
    }
}

.localizacao {
    @extend .wrapper;
    max-width: 800px;
    @include breakpoint($bp-med) {
        margin-top: 2em;
        margin-bottom: 2em;
        display: flex;
        align-items: center;
        div,
        iframe {
            flex: 1;
        }
    }
}

.map {
    position: relative;
    padding: 1em $padding;
    div {
        margin:  1em 0;
        font-size: 0.7em;
        padding-left: 24px;
        @include breakpoint($bp-small-2) {
            font-size: 1em;
        }
        @include breakpoint($bp-small-2) {
            font-size: 1em;
        }
    }
    @include e(rua) {
        @include pseudo(before, 14px, 14px) {
            background-image: url(/img/rua.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            left: $padding;
        }
    }
    @include e(telefone) {
        @include pseudo(before, 14px, 14px) {
            background-image: url(/img/telefone.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            left: $padding;
        }
    }
    @include e(data) {
        @include pseudo(before, 14px, 14px) {
            background-image: url(/img/data.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            left: $padding;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: cores(dark--6);
    align-items: center;
    div {
        margin: 2em auto;
        width: 100px;
        @include breakpoint($bp-small-2) {
            margin: 2em $padding;
        }
    }
    p {
        color: cores(dark--secondary);
        font-size: 0.7em;
        text-align: center;
    }
    @include breakpoint($bp-small-2) {
        flex-direction: row;
        justify-content: space-between;
    }
}
