.hero {
    color: white;
    position: relative;
    padding: 10px $padding 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include e(text) {
        @include breakpoint($bp-small-3) {
            width: 70%;
            margin: 2em 0;
        }
        @include breakpoint($bp-med-2) {
            width: 50%;
            margin: 3em 0;
        }
        @include breakpoint($bp-xl-2) {
            width: 40%;
            margin: 3em 0;
        }
    }
}

