<h3 id="localizacao">Localização</h3>
<div class="localizacao">
  <iframe src="https://www.google.com/maps/d/embed?mid=18ASNEyJm4dzb5Pxgi-T7kkZJ9YjM_Oe1" width="100%" height="250"
    frameborder="0" style="border:0"></iframe>
  <div class="map">
    {{ range .localizacao }}
    <div class="map__rua">
      {{ .endereco | markdownify }}
    </div>
    <div class="map__telefone">
      {{ .telefone | markdownify }}
    </div>
    <div class="map__data">
      {{ .horario | safeHTML }}
    </div>
    <hr>
    {{ end }}
  </div>
</div>
