{{ define "main" }}

{{ partial "menu" . }}
{{ partial "hero" . }}

<div id="conceito" class="conceito">
    <div class="burger">
        <img src="/img/burger.png" alt=""/>
    </div>
    <div class="descricao">
        <h2>{{ .Params.calltoaction | markdownify }}</h2>
        {{ .Content }}
        <div class="alert">{{ .Params.dica | markdownify }}</div>
    </div>
</div>
<div class="horizontal-line"></div>

{{ partial "receita" . }}
{{ partial "cardapio" . }}
{{ partial "delivery" . }}
{{ partial "contato" . }}
{{ partial "localizacao" (dict "endereco" .Params.endereco "telefone" .Params.telefone "horario" .Params.horario) }}

{{ end }}
