{{ partial "header" . }}

<div class="menu">
    <div class="menu__img">
        <img src="/img/close.png" alt=""/>
    </div>
    
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/#conceito">Conceito</a></li>
        <li><a href="/#cardapio">Cardápio</a></li>
        <li><a href="/#contato">Contato</a></li>
        <li><a href="/#localizacao">Localização</a></li>
    </ul>
</div>

<div class="navbar">
    <div class="logo"></div>
    <div class="dehaze"></div>
    <h1 class="hero-text">Para todos os gostos, para todas as fomes, do tamanho certo.</h1>
    <div class="seta"></div>
</div>

<div id="conceito" class="burger"></div>

<h2>Burger tradicional, simples, clássico!</h2>
<p>Slider é uma receita de burger americana, é a perfeita combinação feita com apenas quatro ingredientes.<br>
<br>
O segredo está em sua preparação equilibrada - cada ingrediente tem a hora de entrar e, quando juntos, são cozidos e aromatizados com o vapor da cebola.</p>

<div class="alert"><b>Vai a dica</b> - mantenha sempre a cebola!</div>

<div class="horizontal-line"></div>

<div class="ingrediente">
    <div class="ingrediente__num">1</div>
    <div class="ingrediente__title">Pão</div>
    Pão fofinho, leve, no tamanho certo!
</div>

<div class="ingrediente">
    <div class="ingrediente__num">2</div>
    <div class="ingrediente__title">Cebola</div>
    O segredo de tudo!<br>
    É o vapor da cebola que cozinha a carne na medida certa, derrete o queijo e aromatiza o pão!
</div>

<div class="ingrediente">
    <div class="ingrediente__num">3</div>
    <div class="ingrediente__title">Carne</div>
    Um fino disco de carne de um blend único para a suculência perfeita.
</div>

<div class="ingrediente">
    <div class="ingrediente__num">4</div>
    <div class="ingrediente__title">Queijo</div>
    Uma fatia do queijo que melhor combina com os outros 3 ingredientes juntos!
</div>

<h3 id="cardapio">Cardápio</h3>

<div class="cardapio angle--top-left">

    <div class="alimento--original">
        <!-- <div class="alimento__title">Slider</div> -->
        <div class="alimento__title"><span>Slider</span> Original</div>
        <div class="alimento__price">R$ 8,00</div>
        <div class="alimento__description">pão/ burger/ queijo/ cebola</div>
    </div>

    <div class="alimento">
        <div class="alimento__title"><span>Slider</span> Americano</div>
        <div class="alimento__price">R$ 10,00</div>
        <div class="alimento__description">pão/ burger/ queijo/ cebola/ picles</div>
    </div>

    <div class="alimento">
        <div class="alimento__title"><span>Slider</span> Salada</div>
        <div class="alimento__price">R$ 10,00</div>
        <div class="alimento__description">pão/ burger/ queijo/ cebola/ rúcula/ toMATE</div>
    </div>

    <div class="alimento">
        <div class="alimento__title"><span>Slider</span> Bacon</div>
        <div class="alimento__price">R$ 10,00</div>
        <div class="alimento__description">pão/ burger/ queijo/ cebola/ bacon</div>
    </div>

    <h3>Extras</h3>

    <div class="alimento">
        <div class="alimento__extra">pão brioche | salada | bacon | picles</div>
        <div class="alimento__price">R$ 2,00</div>
    </div>

    <div class="alimento">
        <div class="alimento__extra">maionese (da casa - contém lactose)</div>
        <div class="alimento__price">R$ 2,50</div>
    </div>

    <h3>Bebidas</h3>

    <div class="alimento">
        <div class="alimento__title">Chopp Larger</div>
        <div class="alimento__price">R$ 10,00</div>
        <div class="alimento__description">( burgman ) - 400 ml</div>
    </div>

    <div class="alimento">
        <div class="alimento__title">Chopp IPA</div>
        <div class="alimento__price">R$ 12,00</div>
        <div class="alimento__description">( burgman ) - 400 ml</div>
    </div>

    <h3>Fritas</h3>

    <div class="alimento">
        <div class="alimento__fritas">R$ 9,00</div>
    </div>

    <h3>Sobremesa</h3>

    <div class="alimento">
        <div class="alimento__extra">bolo gelado</div>
        <div class="alimento__price">R$ 2,50</div>
    </div>

</div>


<div class="gallery">
    <div class="gallery__text">
        <h4 id="contato">follow us</h4>
        <p>Slider é uma receita americana, é a perfeita combinação feita com apenas quatro ingredientes.</p>
        <div class="gallery__social">
            <a href=""><img src="/img/instagram.png" alt=""></a>
            <a href=""><img src="/img/facebook.png" alt=""></a>
            <a href=""><img src="/img/twitter.png" alt=""></a>
        </div>
    </div>
    <div class="gallery__images">
        <img src="/img/IMG_1.png" alt=""/>
        <img src="/img/IMG_2.png" alt=""/>
        <img src="/img/IMG_3.png" alt=""/>
        <img src="/img/IMG_4.png" alt=""/>
        <img src="/img/IMG_5.png" alt=""/>
        <img src="/img/IMG_6.png" alt=""/>
        <img src="/img/IMG_7.png" alt=""/>
        <img src="/img/IMG_8.png" alt=""/>
        <img src="/img/IMG_9.png" alt=""/>
        <img src="/img/IMG_10.png" alt=""/>
    </div>
</div>

<h3 id="localizacao">Localização</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14628.945998654302!2d-46.672382930224636!3d-23.559948100000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce598b87b36645%3A0xda9c276b4d6348c1!2sSliders+Hamburgueria!5e0!3m2!1sen!2sbr!4v1535327221087" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
<div class="map">
    <div class="map__rua">
        Rua Haddock Lobo, 891 - Cerqueira César, São Paulo/SP - 01414-001
    </div>
    <div class="map__telefone">
        (11) 3061-2524
    </div>
    <div class="map__data">
        DE TERÇA À DOMINGO<br>
        12h - 00h
    </div>
</div>

<div class="footer">
    <img src="img/logo.png" alt=""/>
    <p>&copy; Copyright 2018 Sliders. All Rights Reserved</p>
</div>

{{ partial "footer" . }}
