{{ partial "header" . }}

<div class="menu">
    <div class="menu__img">
        <img src="/img/close.png" alt=""/>
    </div>
    <ul>
        {{ range .Site.Data.navbar.menu }}
        <li><a href="{{ .url }}">{{ .title }}</a></li>
        {{ end }}
    </ul>
</div>

<div class="header">
    <div class="navigation">
        <div>
            <img class="navigation__logo" src="/img/logo_white.png" alt="">
        </div>
        <img class="navigation__dehaze" src="/img/dehaze.png" alt=""/>
        <ul>
            {{ range .Site.Data.navbar.menu }}
            <li><a href="{{ .url }}">{{ .title }}</a></li>
            {{ end }}
        </ul>
    </div>
    <div class="wrapper">
        <h1 class="header__text">{{ .Params.herotext | markdownify }}</h1>
    </div>
    <div class="seta"></div>
</div>


<div id="conceito" class="conceito">
    <div class="burger">
        <img src="/img/burger.png" alt=""/>
    </div>
    <div class="descricao">
        <h2>{{ .Params.calltoaction | markdownify }}</h2>
        {{ .Content }}
        <div class="alert">{{ .Params.dica | markdownify }}</div>
    </div>
</div>

<div class="horizontal-line"></div>

<div class="receita">

    {{ range $index, $content := .Site.Data.receita.ingredientes }}
    <div class="ingrediente">
        <div class="ingrediente__num">{{ add $index 1 }}</div>
        <div class="ingrediente__title">{{ $content.name }}</div>
        {{ $content.description }}
    </div>
    {{ end }}

</div>

<h3 id="cardapio">Cardápio</h3>

<div class="cardapio">

    <div class="cardapio__wrapper">

        {{ range .Site.Data.cardapio.alimentos }}
            {{ if .title }}
            <h3>{{ .title }}</h3>
            {{ else if .group }}
                <div class="alimento__group">
                    {{ range .group }}
                    <div>
                        <h3>{{ .title }}</h3>
                        <div class="alimento">
                            {{ if .singleprice }}
                            <div class="alimento__single-price">R$ {{ .singleprice | lang.NumFmt 2 }}</div>
                            {{ end }}
                            {{ if .name }}
                                <div class="alimento__title">{{ .name | safeHTML }}</div>
                            {{ end }}
                            {{ if .extra }}
                                <div class="alimento__extra">{{ .extra }}</div>
                            {{ end }}
                            {{ if .price }}
                                <div class="alimento__price">R$ {{ .price | lang.NumFmt 2 }}</div>
                            {{ end }}
                            {{ if .description }}
                                <div class="alimento__description">{{ .description }}</div>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
            {{ else }}
                <div class="alimento{{ if .border }}--original{{ end }}">
                    {{ if .name }}
                        <div class="alimento__title">{{ .name | safeHTML }}</div>
                    {{ end }}
                    {{ if .extra }}
                        <div class="alimento__extra">{{ .extra }}</div>
                    {{ end }}
                    {{ if .price }}
                        <div class="alimento__price">R$ {{ .price | lang.NumFmt 2 }}</div>
                    {{ end }}
                    {{ if .singleprice }}
                    <div class="alimento__single-price">R$ {{ .singleprice | lang.NumFmt 2 }}</div>
                    {{ end }}
                    {{ if .description }}
                        <div class="alimento__description">{{ .description }}</div>
                    {{ end }}
                </div>
            {{ end }}
        {{ end }}

    </div>




        <!-- <div class="alimento--original"> -->
        <!--     <div class="alimento__title"><span>Slider</span> Original</div> -->
        <!--     <div class="alimento__price">R$ 8,00</div> -->
        <!--     <div class="alimento__description">pão/ burger/ queijo/ cebola</div> -->
        <!-- </div> -->
        
        <!-- <div class="alimento"> -->
        <!--     <div class="alimento__title"><span>Slider</span> Americano</div> -->
        <!--     <div class="alimento__price">R$ 10,00</div> -->
        <!--     <div class="alimento__description">pão/ burger/ queijo/ cebola/ picles</div> -->
        <!-- </div> -->
        
        <!-- <div class="alimento"> -->
        <!--     <div class="alimento__title"><span>Slider</span> Salada</div> -->
        <!--     <div class="alimento__price">R$ 10,00</div> -->
        <!--     <div class="alimento__description">pão/ burger/ queijo/ cebola/ rúcula/ toMATE</div> -->
        <!-- </div> -->
        
        <!-- <div class="alimento"> -->
        <!--     <div class="alimento__title"><span>Slider</span> Bacon</div> -->
        <!--     <div class="alimento__price">R$ 10,00</div> -->
        <!--     <div class="alimento__description">pão/ burger/ queijo/ cebola/ bacon</div> -->
        <!-- </div> -->
        
        <!-- <h3>Extras</h3> -->
        
        <!-- <div class="alimento"> -->
        <!--     <div class="alimento__extra">pão brioche | salada | bacon | picles</div> -->
        <!--     <div class="alimento__price">R$ 2,00</div> -->
        <!-- </div> -->
        
        <!-- <div class="alimento"> -->
        <!--     <div class="alimento__extra">maionese (da casa - contém lactose)</div> -->
        <!--     <div class="alimento__price">R$ 2,50</div> -->
        <!-- </div> -->
        
        <!-- <h3>Bebidas</h3> -->
        
        <!-- <div class="alimento"> -->
        <!--     <div class="alimento__title">Chopp Larger</div> -->
        <!--     <div class="alimento__price">R$ 10,00</div> -->
        <!--     <div class="alimento__description">( burgman ) - 400 ml</div> -->
        <!-- </div> -->
        
        <!-- <div class="alimento"> -->
        <!--     <div class="alimento__title">Chopp IPA</div> -->
        <!--     <div class="alimento__price">R$ 12,00</div> -->
        <!--     <div class="alimento__description">( burgman ) - 400 ml</div> -->
        <!-- </div> -->
        
        <!-- <div class="alimento__group"> -->
        <!--     <div> -->
        <!--         <h3>Fritas</h3> -->
        <!--         <div class="alimento"> -->
        <!--             <div class="alimento__fritas">R$ 9,00</div> -->
        <!--         </div> -->
        <!--     </div> -->
        <!--     <div> -->
        <!--         <h3>Sobremesa</h3> -->
        <!--         <div class="alimento"> -->
        <!--             <div class="alimento__extra">bolo gelado</div> -->
        <!--             <div class="alimento__price">R$ 2,50</div> -->
        <!--         </div> -->
        <!--     </div> -->
        <!-- </div> -->


    <div class="cardapio__background angle--both-left-right">
    </div>

</div>

<h3 id="delivery">Delivery</h3>
<div class="delivery">
    <div>
        <img src="/img/ifood.png" alt="">
    </div>
    <div>
        <img src="/img/rappi.png" alt="">
    </div>
</div>


<div id="contato" class="gallery">

    <div class="gallery__text">
        <h4>Siga nas redes sociais</h4>
        <p>Slider é uma receita americana, é a perfeita combinação feita com apenas quatro ingredientes.</p>
        <div class="gallery__social">
            <a href="https://www.instagram.com/sliders/"><img src="/img/instagram.png" targets="_blank" alt=""></a>
            <a href="https://www.facebook.com/slidershamburgueria/" targets="_blank"><img src="/img/facebook.png" alt=""></a>
            <!-- <a href="" targets="_blank"><img src="/img/twitter.png" alt=""></a> -->
        </div>
    </div>

    <div class="gallery__images">
        <img src="/img/IMG_1.png" alt=""/>
        <img src="/img/IMG_2.png" alt=""/>
        <img src="/img/IMG_3.png" alt=""/>
        <img src="/img/IMG_4.png" alt=""/>
        <img src="/img/IMG_5.png" alt=""/>
        <img src="/img/IMG_6.png" alt=""/>
        <img src="/img/IMG_7.png" alt=""/>
        <img src="/img/IMG_8.png" alt=""/>
        <img src="/img/IMG_9.png" alt=""/>
        <img src="/img/IMG_10.png" alt=""/>
    </div>
</div>

<h3 id="localizacao">Localização</h3>

<div class="localizacao">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14628.945998654302!2d-46.672382930224636!3d-23.559948100000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce598b87b36645%3A0xda9c276b4d6348c1!2sSliders+Hamburgueria!5e0!3m2!1sen!2sbr!4v1535327221087" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <div class="map">
        <div class="map__rua">
            Rua Haddock Lobo, 891 - Cerqueira César, São Paulo/SP - 01414-001
        </div>
        <div class="map__telefone">
            (11) 3061-2524
        </div>
        <div class="map__data">
            TERÇA À QUINTA | 18h - 23h<br>
            SEXTA | 18h - 00h<br>
            SÁBADO | 12h - 00h </div>
    </div>

</div>

<div class="footer">
    <div>
        <img src="img/logo.png" alt=""/>
    </div>
    <p>&copy; Copyright 2018 Sliders. All Rights Reserved</p>
</div>

{{ partial "footer" . }}
